[submodule "external/Conv-Adapter"]
	path = external/Conv-Adapter
	url = https://github.com/Hhhhhhao/Conv-Adapter.git
[submodule "external/transfuser"]
	path = external/transfuser
	url = https://github.com/autonomousvision/transfuser.git
